body{
    margin: 0;
    padding: 0;
}

h1{
    text-align:center;
}

canvas{
    
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

#score {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    color: darkorchid;
}



