body{
    margin: 0;
    padding: 0;
}

h1{
    text-align:center;
}

#score {
    margin: 2rem 2rem 3rem 65rem;
    width: 10%;
    border: 3px solid purple;
    border-radius: 35%;
    padding: 10px;
    text-align: center;
    color : purple;
    font-size: 1.5rem;
    font-weight: bold;

}

canvas{
    
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

#end{
    font-size: 2.5rem;
    font-weight: bold;
    color: orangered;
    text-align: center;
}

#shots {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: darkorchid;
}

.button{
    margin-left: 20rem;
    width: 10%;

    .reset{
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
        background: green;
        color: white;
        cursor: pointer;
    }
}





